/* 视频页面样式 */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black;
    color: white;
}

.dropzone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 200px;
    border: 2px dashed white;
    text-align: center;
    line-height: 200px;
    cursor: pointer;
    z-index: 1000;
}

#videoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

#mediaPlayer {
    max-width: 100%;
    max-height: 90vh;
    width: auto;
    height: auto;
    display: none;
    z-index: 999;
}